<% provide(:title, "Home") %>

<div class="center">
  <%= image_tag("DSC_0137.JPG", alt: "Hamanako") %>

  <div class="jumbotron">
 
    <h1>自己紹介</h1>
    <%= image_tag("ICON.JPG", alt: "icon", id: "icon") %>
    <p>はしだて　　　なおや</p>
    <h2>橋立　直弥</h2>
    <p>1996.05.17</p>

  </div>
</div>

