<% provide(:title, "Home") %>

<div class="center">
  <%= image_tag("DSC_0137.JPG", alt: "Hamanako") %>

  <div class="jumbotron">
 
    <h1>Profile</h1>
    <%= image_tag("ICON.JPG", alt: "icon", id: "icon") %>
    <p>はしだて　　　なおや</p>
    <h2>橋立　直弥</h2>
    <p>1996.05.17</p>

    <div class="box">
      <p>東京都八王子市出身。趣味は野球観戦、フットサル、ドライブ。社会人になってからカメラを購入し、愛車の撮影にも励んでいる。Ruby on RailsによるWEB開発学習を進める傍ら、自身のポートフォリオ作成も並行して行っていく予定。</p>
    </div>
  </div>
  <div class="jumbotron">

    <h1>サイト一覧</h1>
    <div class="card-group">
      <div class="card">
        <div class="card-body">
          <div class="card-title">
            <h5>card sample</h5>
          </div>
          <div class="card-text">
            <p>This is a card sample.</p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="card-title">
            <h5>card sample</h5>
          </div>
          <div class="card-text">
            <p>This is a card sample.</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

