@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

/* universal */

body {
  background-color: #EEE;
}

.container {
  width: 100%;
  padding: 0px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;

  img {
    width: 100%;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

.center {
  .jumbotron {
    background-color: #FFFFFF;
    width: 80%;
    margin: 20px auto;
    padding: 16px;

    h1 {
      font-size: 3.5em;
      letter-spacing: 3px;
      margin: 20px auto;
      text-align: center;
    }
    h2 {
      font-size: 2.5em;
      margin: 0 0 3px 0;
      text-align: center;
    }

    p {
      font-size: 1em;
      margin: 0 auto;
    }

    #icon {
      border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
      width:  180px;       /* ※縦横を同値に */
      height: 180px;       /* ※縦横を同値に */
    }

    .box {
      width: 80%;
      padding: 0.5em 1em;
      margin: 1em auto;
      color: #5d627b;
      background: white;
      border-top: solid 10px #5d627b;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);

      p {
        margin: 0; 
        padding: 0;
      }
    }

  }
}



/* header */
nav {
    padding: 30px 30px 80px 0px;
  }

#logo {
  float: left;
  margin: 0 30px;
  font-size: 2.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 25px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}
