@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

/* universal */

body {
  background-color: #EEE;
}

#body {
  margin-top: 110px;
}

.container {
  width: 100%;
  padding: 0;
}


section {
  overflow: auto;
}

textarea {
  resize: vertical;
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

/* header */
nav {
    padding: 30px 30px 80px 0px;
  }

#logo {
  float: left;
  margin: 0 30px;
  font-size: 2.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 25px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}
